* {
  font-family: MuseoModerno, sans-serif;
  box-sizing: border-box;
}
.container {
  max-width: 950px;
  margin: 0 auto;
}

@import "base/mixins", "base/variables", "base/animations";

@import "blocks/hero", "blocks/header", "blocks/buttons", "blocks/advantages",
  "blocks/cta", "blocks/forms", "blocks/carousel", "blocks/catalog",
  "blocks/reviews", "blocks/footer", "blocks/overlay", "blocks/pageup",
  "blocks/media";
