.advantages {
  min-height: 350px;
  padding: 70px 0;
  background-color: #f6f6f6;
  &__title {
    @include title;
    margin-bottom: 60px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item-icon {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  &__item-text {
    width: 275px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    span {
      display: block;
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 20px;
    }
    a {
      color: #ff0000;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
}
