.catalog {
  padding-bottom: 80px;
  &__title {
    @include title;
    margin-bottom: 50px;
  }
  &__tabs {
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
  }
  &__tab {
    width: 220px;
    height: 50px;
    border: 2px solid #d0d0d0;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #6b6b6b;
    text-transform: uppercase;
    transform: skewX(-25deg);
    cursor: pointer;
    transition: 0.5s all;
    &:hover {
      @include hover;
    }
    div {
      transform: skewX(25deg);
    }
    &_active {
      background-color: $main-color;
      color: #fff;
      border: none;
    }
  }
  &__cards {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    &_active {
      display: flex;
    }
  }

  &-card {
    width: 300px;
    min-height: 420px;
    border: 2px solid #d0d0d0;
    padding: 20px;
    overflow: hidden;
    &__img {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
      max-width: 100%;
      height: 200px;
    }
    &__title {
      font-weight: 700;
      font-size: 17px;
      text-align: center;
      margin-bottom: 15px;
    }
    &__descr {
      width: 250px;
      margin: 0 auto;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      margin-bottom: 10px;
    }
    &__link {
      @include link;
      margin-bottom: 20px;
    }
    hr {
      background: #e8e8e8;
      border-bottom: none;
      margin-bottom: 20px;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__price-old {
      font-weight: 300;
      font-size: 14px;
      color: #555;
      text-decoration-line: line-through;
    }
    &__price-new {
      font-weight: 700;
      font-size: 20px;
    }
    &__wrapper {
      display: flex;
      width: calc(200% + 40px);
    }
    &__content {
      width: 50%;
      margin-right: 0px;
      transform: translateX(-100%);
      transition: 0.5s all;
      &_active {
        transform: translateX(0%);
        margin-right: 20px;
      }
    }
    &__list {
      position: relative;
      width: 50%;
      padding-left: 25px;
      padding-right: 10px;

      transform: translateX(0%);
      transition: 0.5s all;
      list-style-type: none;
      li {
        position: relative;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #555;
        margin-bottom: 20px;
        &:before {
          content: "";
          position: absolute;
          width: 5px;
          height: 5px;
          background: $main-color;
          left: -14px;
          top: 7px;
        }
      }
      &_active {
        transform: translateX(-100%);
        margin-left: 0px;
      }
    }
    &__back {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(calc(-50% - 15px));
      @include link;
    }
  }
}
