@media (max-width: 1200px) {
  .hero {
    min-height: 400px;
    &__wrapper {
      align-items: center;
    }
  }
  .advantages {
    min-height: 300px;
  }
}

@media (max-width: 991px) {
  .header {
    justify-content: center;
    gap: 60px;
  }
  .advantages {
    &__items {
      flex-direction: column;
    }
    &__item-text {
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
  .cta {
    text-align: center;
    &__title {
      font-size: 30px;
      line-height: 44px;
    }
  }
  .cta-form {
    margin: 0 auto;
  }
  .carousel {
    &__slides {
      width: 500px;
      img {
        max-width: 100%;
        margin: 0 auto;
      }
    }
  }
  .catalog__cards {
    justify-content: center;
  }
  .reviews-item {
    padding: 0 50px;
  }
}

@media (max-width: 767px) {
  .header {
    margin-bottom: 50px;
    &__official {
      display: none;
    }
  }
  .hero {
    &__offer {
      font-size: 36px;
    }
    &__suboffer {
      font-size: 21px;
      margin-bottom: 30px;
    }
  }
  .cta {
    padding: 60px 0;
    &__title {
      font-size: 22px;
      line-height: 34px;
    }
    &__subtitle {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  .catalog__tab {
    width: 160px;
    height: 40px;
    line-height: 38px;
    font-size: 14px;
  }
  .reviews {
    &__title {
      font-size: 22px;
      margin-bottom: 40px;
    }
    &-item {
      gap: 20px;
      flex-wrap: wrap;
      &__img {
        width: 139px;
        height: 139px;
      }
      &__name,
      &__subname {
        text-align: center;
      }
    }
  }
}

@media (max-width: 575px) {
  .header {
    padding: 0 10px;
    &__contacts {
      align-items: center;
    }
    &__phone {
      font-size: 16px;
    }
  }
  .hero {
    padding-bottom: 50px;
    &__offer {
      font-size: 26px;
      margin-bottom: 20px;
    }
    &__suboffer {
      font-size: 15px;
    }
    &__icons {
      width: 300px;
      margin-bottom: 40px;
    }
    &__icon {
      font-size: 12px;
      img {
        width: 36px;
        height: 36px;
      }
    }
  }
  .advantages {
    padding: 50px 0;
    &__title {
      font-size: 25px;
      margin-bottom: 40px;
    }
  }
  .carousel {
    &__slides {
      width: 100%;
    }
  }

  .catalog {
    &__title {
      font-size: 22px;
      margin-bottom: 20px;
    }
    &__tabs {
      gap: 5px;
      margin-bottom: 40px;
    }
    &__tab {
      width: 110px;
      height: 30px;
      line-height: 28px;
      font-size: 10px;
    }
  }
  .reviews-item {
    padding: 0 20px;
    &__review {
      font-size: 14px;
      line-height: 22px;
    }
  }
}
